.idea/
.vscode/
TomatoMall_lab1/target/
TomatoMall_lab1/src/main/resources/application.yml
TomatoMall lab1/src/main/resources/application.properties
TomatoMall_frontend/.idea
TomatoMall_frontend/.vscode
TomatoMall_lab1/.idea
TomatoMall_lab1/.vscode
TomatoMall_frontend/auto-imports.d.ts
TomatoMall_frontend/components.d.ts
